@font-face {
    font-family: "GT-Flexa-Standard-Regular";
    src: url("GT-Flexa-Standard-Regular.woff") format("woff");
}

@font-face {
    font-family: "GT-Flexa-Standard-Regular";
    src: url("GT-Flexa-Standard-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "GT-Flexa-Standard-Medium";
    src: url("GT-Flexa-Standard-Medium.woff") format("woff");
}

@font-face {
    font-family: "GT-Flexa-Standard-Medium";
    src: url("GT-Flexa-Standard-Medium.woff2") format("woff2");
}
